.loader {

border: 10px solid #9356DC; 
border-top: 10px solid #FF79DA ;
border-bottom: 10px solid #FF79DA;
border-radius: 50%;
width: 100px;
height: 100px;
-webkit-animation: spin 5s linear infinite;
-o-animation: spin 3s linear infinite;
animation: spin 3s linear infinite;


/*placement du lodaer au milieu de la page*/

margin: auto;
position: absolute;
top: 0; left: 0; right: 0; bottom: 0;
}

/*animation du loader*/

@-webkit-keyframes spin {
0% {
    -webkit-transform: rotate (0deg);
}
100% {
    -webkit-transform: rotate (360deg);
}
}

@keyframes spin {
0% {
    transform: rotate (0deg);
}
100% {
    transform: rotate (360deg);
}
}