$primary: #9356DC;
$secondary: #FF79DA;
$tertiairy: #99E2D0;

header{
    width:100%;
}
.header_logo{
    text-align: center;
    padding :20px 0px 10px 0px;
    height:5vh;
}
.logo{
    width: 150px;
}
